{% extends "base.html" %}

{% block bookstore %}

<form class="navbar-form navbar-right" method="POST">
    <input type="text" class="form-control" placeholder='Book or writer name' name="searchText">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Writer</th>
            <th>Description</th>
            {% if username %} <th>Add to shelf</th> {% endif %}
            {% if authority %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for Book in Bookstore %}
        <tr>
            <td>{{Book.BookName}}</td>
            <td>{{Book.Writer}}</td>
            <td>{{Book.Description}}</td>
            {% if username %}
                {% if Book.BookName in shelf %}
                <td><button type="button" class="btn btn-default">Added</button></a></td>
                {% else %}
                <td><a href="/add_book/{{Book.BookID}}"><button type="button" class="btn btn-primary">Add</button></a></td>
                {% endif %}
            {% endif %}
            {% if authority %}
            <td><a href="/delete_store_book/{{Book.BookID}}"><button type="button" class="btn btn-primary">Delete</button></a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if authority %}
        <tr>
            <td>...</td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/add_book_to_store"><button type="button" class="btn btn-primary">Add Book</button></a></td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}