<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Change Password</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST">
        <a href="/"><h1>Llkser's Bookshelf</h1></a>
        <br>
        <h4>Change password :</h4>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Old Password" name="oldPassword">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="New Password" name="newPassword">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Confirmed Password" name="confirmedPassword">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
      </form>

      <br>
      <h4><center><font color="red">{{ warning }}</font></center></h4>
    </div> 

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
