{% extends "base.html" %}

{% block bookstore %}

<form method="POST">
    <label>UserName</label>
    <input class="form-control" type="text" placeholder={{ user.UserName }} style="width:40%;" disabled>
    <label>Email</label>
    {% if user.Email %}
    <input class="form-control" type="email" placeholder={{ user.Email }} name="email" style="width:40%;">
    {% else %}
    <input class="form-control" type="email" placeholder='' name="email" style="width:40%;">
    {% endif %}
    <label>Phone Number</label>
    {% if user.Phonenumber %}
    <input class="form-control" type="text" placeholder={{ user.Phonenumber }} name="Phonenumber" style="width:40%;">
    {% else %}
    <input class="form-control" type="text" placeholder='' name="Phonenumber" style="width:40%;">
    {% endif %}
    <label>QQ Number</label>
    {% if user.QQnumber %}
    <input class="form-control" type="text" placeholder={{ user.QQnumber }} name="QQnumber" style="width:40%;">
    {% else %}
    <input class="form-control" type="text" placeholder='' name="QQnumber" style="width:40%;">
    {% endif %}
    <br>
    <button type="submit" class="btn btn-success">Update</button>
    <a href="/change_password"><button type="button" class="btn btn-primary">Change Password</button></a>
</form>

{% endblock %}