<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign in Llkser's Bookshelf</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="POST">
        <a href="/"><h1>Llkser's Bookshelf</h1></a>
        <br>
        <h4>Please sign in :</h4>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" class="form-control" placeholder="User name" name="username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remembered"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block">Sign in</button>
        <a href="/signup"><button class="btn btn-lg btn-success btn-block" type="button">Sign up</button></a>
      </form>

      <br>
      <h4><center><font color="red">{{ warning }}</font></center></h4>
    </div> 

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#eaf7f7",
            "text": "#5c7291"
          },
          "button": {
            "background": "#56cbdb",
            "text": "#ffffff"
          }
        }
      });
    </script>
  </body>
</html>
